<!DOCTYPE root[<!ELEMENT ContentFolder ANY>
<!ATTLIST ContentFolder id ID #REQUIRED>
<!ELEMENT WorkingAtMatrix ANY>
<!ATTLIST WorkingAtMatrix id ID #REQUIRED>
 
<!ELEMENT Advantages ANY>
<!ATTLIST Advantages id ID #REQUIRED>
<!ELEMENT BasePage ANY>
<!ATTLIST BasePage id ID #REQUIRED>
<!ELEMENT BoardOfDirectors ANY>
<!ATTLIST BoardOfDirectors id ID #REQUIRED>
<!ELEMENT CompanyOverview ANY>
<!ATTLIST CompanyOverview id ID #REQUIRED>
<!ELEMENT Content ANY>
<!ATTLIST Content id ID #REQUIRED>
<!ELEMENT CustomerSuccess ANY>
<!ATTLIST CustomerSuccess id ID #REQUIRED>
<!ELEMENT HistoricTimeline ANY>
<!ATTLIST HistoricTimeline id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT MatrixForMedia ANY>
<!ATTLIST MatrixForMedia id ID #REQUIRED>
<!ELEMENT Solutions ANY>
<!ATTLIST Solutions id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1069" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-10-15T11:16:41" updateDate="2013-10-15T11:18:14" nodeName="Homepage" urlName="homepage" path="-1,1069" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="Homepage">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag>Matrix Solutions Home</titleTag>
    <birdseyeViewIcon />
    <birdseyeViewText><![CDATA[]]></birdseyeViewText>
    <birdseyeViewLink />
  </Homepage>
  <Advantages id="1111" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-16T10:58:56" updateDate="2013-10-16T15:05:37" nodeName="Sales Management" urlName="sales-management" path="-1,1111" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="0" template="1071" nodeTypeAlias="Advantages">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1115</interiorBillboard>
    <pageHeadline>Matrix for Sales Managers</pageHeadline>
    <leadInCopy><![CDATA[<p>Get the answers you need when and where you need them. Achieve a detailed level of data analysis and reporting for your sales team. Automate a large portion of your sales management functions and tailor your reports to fit your sales goals.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>With Matrix, you can get account activity reporting:</h3>
<ul>
<li>Bird's Eye View</li>
<li>Custom Watch Lists</li>
<li>Scorecards</li>
<li>Pacing and Forecasting</li>
</ul>
<p>Use the Matrix Solutions workflow for planning, prioritizing, and decision-making, based on accurate and valuable information contained in, organized by, and easily accessible through the reporting engine on any device, anywhere, at anytime.</p>]]></pageCopy>
  </Advantages>
  <ContentFolder id="1171" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-16T17:07:46" updateDate="2013-10-16T17:23:58" nodeName="Advantages" urlName="advantages" path="-1,1171" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContentFolder">
    <umbracoRedirect>1111</umbracoRedirect>
  </ContentFolder>
  <ContentFolder id="1173" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-10-16T17:15:35" updateDate="2013-10-16T17:18:36" nodeName="Solutions" urlName="solutions" path="-1,1173" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContentFolder">
    <umbracoRedirect>1141</umbracoRedirect>
  </ContentFolder>
  <Advantages id="1128" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-10-16T11:21:34" updateDate="2013-10-16T15:05:37" nodeName="Financial Management" urlName="financial-management" path="-1,1128" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="0" template="1071" nodeTypeAlias="Advantages">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1113</interiorBillboard>
    <pageHeadline>Matrix for Finance Managers</pageHeadline>
    <leadInCopy><![CDATA[<p>Remove any barriers to success by providing your sales teams with the information they need. Save time and money with a cloud-based solution that is fast and easy to implement, intuitive to use, and ultimately pays for itself. Leverage the Matrix Solutions platform for an accurate view of your media sales business.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>With Matrix, you can:</h3>
<ul>
<li>Connect to all sources of media sales data</li>
<li>See information in an intuitive dashboard</li>
<li>Let decision makers view accurate consistent reports</li>
</ul>
<p>Enable your sales teams to leverage the value of the information already contained within your organization, thanks to Matrix Solutions' data normalization, analysis, and deep reporting functionality.</p>]]></pageCopy>
  </Advantages>
  <Advantages id="1129" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2013-10-16T11:21:42" updateDate="2013-10-16T15:05:37" nodeName="Information Technology" urlName="information-technology" path="-1,1129" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="0" template="1071" nodeTypeAlias="Advantages">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1114</interiorBillboard>
    <pageHeadline>Matrix for Sales Managers</pageHeadline>
    <leadInCopy><![CDATA[<p>Get the answers you need when and where you need them. Achieve a detailed level of data analysis and reporting for your sales team. Automate a large portion of your sales management functions and tailor your reports to fit your sales goals.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>With Matrix, you can:</h3>
<ul>
<li>Deliver cloud-based CRM, Analytics, and Reports</li>
<li>Avoid costly time-consuming implementations</li>
<li>Integrate with traffic and billing systems</li>
<li>Leverage Matrix Solutions superior training and customer support</li>
</ul>
<p>Offer your business an intuitive user interface, fast and simplified turnkey deployment, and universal access with single sign-on. Advance the benefits of the Matrix SaaS solution to your organization including seamless upgrades and guaranteed service levels.</p>]]></pageCopy>
  </Advantages>
  <ContentFolder id="1174" parentID="-1" level="1" creatorID="0" sortOrder="3" createDate="2013-10-16T17:15:46" updateDate="2013-10-16T17:18:45" nodeName="Company" urlName="company" path="-1,1174" isDoc="" nodeType="1170" creatorName="admin" writerName="admin" writerID="0" template="0" nodeTypeAlias="ContentFolder">
    <umbracoRedirect>1156</umbracoRedirect>
  </ContentFolder>
  <Advantages id="1091" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2013-10-15T15:29:05" updateDate="2013-10-16T15:05:37" nodeName="Account Executives" urlName="account-executives" path="-1,1091" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="0" template="1071" nodeTypeAlias="Advantages">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag>Account Executives</titleTag>
    <interiorBillboard>1112</interiorBillboard>
    <pageHeadline>Matrix for Account Executives</pageHeadline>
    <leadInCopy><![CDATA[<p>Better manage your sales opportunities, by using the actionable sales information from a media-specific CRM platform. Our reporting capabilities provide you the deep and accurate information needed to achieve your sales objectives.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>With Matrix, you can:</h3>
<ul>
<li>See all your sales information in real-time</li>
<li>Get a single view of all your accounts and metrics</li>
<li>Track your successes to revenue</li>
<li>Access your account information anywhere, anytime</li>
</ul>
<p>Matrix provides reports that help you identify potential financial impacts for a variety of circumstances that can affect your accounts. Keep a close eye on the account information you need and use our reports to manage your activity.</p>]]></pageCopy>
  </Advantages>
  <CompanyOverview id="1156" parentID="-1" level="1" creatorID="0" sortOrder="4" createDate="2013-10-16T15:40:20" updateDate="2013-10-16T17:18:45" nodeName="Company Overview" urlName="company-overview" path="-1,1156" isDoc="" nodeType="1151" creatorName="admin" writerName="admin" writerID="0" template="1077" nodeTypeAlias="CompanyOverview">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1117</interiorBillboard>
    <pageHeadline>Matrix Means Media</pageHeadline>
    <pageSubHeadline>Overview</pageSubHeadline>
    <leadInCopy><![CDATA[<p>Matrix Solutions offers the leading media-specific CRM, data, and reporting platform for media outlets and network sales organizations across North America. Customers leverage our deep expertise to provide their operations with the information they need to manage their accounts and increase their revenue.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<p><strong>Matrix Means Forward Thinking.</strong> Matrix was founded in 1992 by media industry executives with a vision for a better way to drive sales success and efficiencies with technology. <a href="http://matrixformedia.com/executive-team.aspx">DJ Cavanaugh</a>, the Company's CEO, continues to lead Matrix through its growth and development.</p>
<p><strong>Matrix Means Innovation.</strong> Headquartered in Pittsburgh PA, Matrix, has significantly invested in its next-generation cloud-based solution for our media clients, with an exceptional app-like user experience. This focus, combined with our media CRM and extensive analytics and reporting, are unmatched in the industry.</p>
<h3>Our cloud-based platform is used by:</h3>
<ul class="square-bullets">
<li>10,000 Customers</li>
<li>800 Media Outlets</li>
<li>110 Markets in North America</li>
</ul>
<p><strong>Matrix Means Technology Leadership.</strong> Matrix has a proven technology platform and an outstanding team with wide-ranging media expertise. The company is customer-focused through the capabilities it offers, and how the platform is implemented, delivered, and supported. This holistic approach to customer success is why we boast a near 100% renewal rate from existing customers. The success of Matrix comes as a direct result of hard work across our customers' experience and a steadfast focus on media sales.</p>]]></pageCopy>
    <calloutHeadline>  The Foundation of Matrix</calloutHeadline>
    <calloutCopy><![CDATA[<ul>
<li>- Passionate, forward-thinking team</li>
<li>- Customer success focused</li>
<li>- Cutting-edge technology</li>
<li>- Media industry leaders</li>
</ul>]]></calloutCopy>
  </CompanyOverview>
  <CustomerSuccess id="1162" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2013-10-16T16:08:37" updateDate="2013-10-16T17:18:45" nodeName="Customer Success" urlName="customer-success" path="-1,1162" isDoc="" nodeType="1161" creatorName="admin" writerName="admin" writerID="0" template="1160" nodeTypeAlias="CustomerSuccess">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1119</interiorBillboard>
    <pageHeadline>Complete Experience</pageHeadline>
    <pageSubHeadline>Customer Success</pageSubHeadline>
    <leadInCopy><![CDATA[<p>As an established leader in media sales, Matrix delivers a highly effective and intuitive solution. Our cloud-based platform minimizes downtime and enables you to "plug and play" your data within 8 weeks of deployment.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>Success Managers</h3>
<p>For media outlets and networks, managing sales processes and maintaining historical data is essential to your operations. A dedicated Success Manager from Matrix will give you peace of mind by helping you:</p>
<ul>
<li>Ensure business continuity of your sales intelligence</li>
<li>Proactively prevent issues with a personalized action plan</li>
<li>Remotely monitor user adoption, trend analysis, and management</li>
<li>Fully maximize your investment in the Matrix platform</li>
</ul>
<h3>Matrix University</h3>
<p>Matrix provides customized, on-demand training options for your team, which include:</p>
<ul>
<li>Self-paced E-learning for Sales Managers and Account Executives</li>
<li>Online Quick Reference Guides</li>
<li>Comprehensive Learning Management System</li>
</ul>
<h3>Integration Support</h3>
<p>Matrix brings more than two decades of experience integrating our media-specific platform with traffic and billing systems. We work with more than 800 media outlets by taking 5+ years of historical ad sales data from multiple points and turning it into actionable information.</p>
<h3>Implementation Ease</h3>
<p>We begin with a collaborative approach to gain a common understanding of:</p>
<ul>
<li>Your sales and business processes</li>
<li>Integration with information systems</li>
<li>A team of technical experts who understand media</li>
</ul>
<h3>Multi-Device Access</h3>
<p>In today's hyper-connected world you need your sales data at your fingertips. Our cloud-based platform is conveniently accessed though your notebook, tablet, or Smartphone that offers you:</p>
<ul>
<li>Software delivered as a service for ease of access and use</li>
<li>Easier collaboration within and between departments</li>
<li>Subscription-based pricing that optimizes your value</li>
</ul>]]></pageCopy>
  </CustomerSuccess>
  <MatrixForMedia id="1141" parentID="-1" level="1" creatorID="0" sortOrder="5" createDate="2013-10-16T12:11:14" updateDate="2013-10-16T15:05:37" nodeName="Matrix For Media" urlName="matrix-for-media" path="-1,1141" isDoc="" nodeType="1140" creatorName="admin" writerName="admin" writerID="0" template="1139" nodeTypeAlias="MatrixForMedia">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1124</interiorBillboard>
    <pageCopy><![CDATA[<h3>Components:</h3>
<ul>
<li><a href="http://matrixformedia.com/media-crm.aspx">Media CRM</a></li>
<li><a href="http://matrixformedia.com/data-cleansing.aspx">Data Cleansing and Normalization</a></li>
<li><a href="http://matrixformedia.com/analytics-reporting.aspx">Analysis and Reporting</a></li>
</ul>]]></pageCopy>
    <pageHeadline>Matrix for Media</pageHeadline>
    <pageSubHeadline>Intelligent Business Decisions</pageSubHeadline>
    <leadInCopy><![CDATA[Maximize your sales opportunities, optimize your processes, and streamline your operation. Matrix offers a cloud-based media sales platform that takes your data from multiple points and turns it into actionable sales intelligence. See your information across intuitive dashboards—available anywhere, on any device.]]></leadInCopy>
  </MatrixForMedia>
  <Solutions id="1148" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2013-10-16T13:48:11" updateDate="2013-10-16T15:05:37" nodeName="Media CRM" urlName="media-crm" path="-1,1148" isDoc="" nodeType="1143" creatorName="admin" writerName="admin" writerID="0" template="1073" nodeTypeAlias="Solutions">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1125</interiorBillboard>
    <pageHeadline>Media CRM</pageHeadline>
    <leadInCopy><![CDATA[<p>Our CRM capabilities keep you on target with your customers and prospects, using specific media sales processes, terminology, and metrics for maximizing opportunities and revenues.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<p>Designed by industry experts from TV, Radio, and electronic advertising, Matrix helps build and manage your sales efforts to make your team 100% customer focused.</p>
<h3>Features:</h3>
<ul>
<li>Contact Management</li>
<li>Pipeline Reports</li>
<li>Performance and Forecasts</li>
<li>Graphical Dashboard Views</li>
</ul>
<p>Your sales team is busier than ever and they need the very best CRM solution that speaks their language. Integrated in the Matrix Platform, our CRM is your media-specific virtual assistant that provides access anywhere, from any web-connected device, at any time, and gives you the essential tool you need to grow your business.</p>]]></pageCopy>
    <pageSubHeadline>Speaking the Right Language</pageSubHeadline>
  </Solutions>
  <HistoricTimeline id="1159" parentID="-1" level="1" creatorID="0" sortOrder="6" createDate="2013-10-16T15:50:12" updateDate="2013-10-16T17:18:45" nodeName="Historic Timeline" urlName="historic-timeline" path="-1,1159" isDoc="" nodeType="1153" creatorName="admin" writerName="admin" writerID="0" template="1158" nodeTypeAlias="HistoricTimeline">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1120</interiorBillboard>
    <pageHeadline> Focused on Media Sales</pageHeadline>
    <pageSubHeadline>Historic Timeline</pageSubHeadline>
    <leadInCopy><![CDATA[<p>Since 1992, Matrix Solutions has been using innovative technology to deliver better sales intelligence across media enterprises for sales managers, finance, IT, and account executives.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<table border="0" class="data">
<tbody>
<tr>
<td class="year">2013</td>
<td>Matrix announces partnership with Main Line Equity Partners to expand ad sales ecosystem</td>
</tr>
<tr>
<td class="year">2012</td>
<td>Mobile version of Matrix introduced at NAB Conference and Tradeshow</td>
</tr>
<tr>
<td class="year">2011</td>
<td>Matrix introduces cloud-based CRM and Sales Analytics platform‐500 users by year end</td>
</tr>
<tr>
<td class="year">2006</td>
<td>Headquarters expands to the popular North Shore of Pittsburgh</td>
</tr>
<tr>
<td class="year">2004</td>
<td><a href="http://tbo.com/" target="_blank">Tampa Bay Online</a> becomes first pure play digital customer</td>
</tr>
<tr>
<td class="year">2003</td>
<td>MatrixPlus V4 released to existing customers: <a href="http://www.hearst.com/" target="_blank">Hearst</a>, <a href="http://www.belo.com/" target="_blank">BELO</a>, <a href="http://www.univision.com/" target="_blank">Univision</a>, and <a href="http://mediageneral.com/" target="_blank">Media General</a></td>
</tr>
<tr>
<td class="year">2000</td>
<td>Recognized media sales expert <a href="/executive-team.aspx">DJ Cavanaugh</a> joins as CEO of Matrix Solutions</td>
</tr>
<tr>
<td class="year">2000</td>
<td>Matrix welcomes <a href="http://newyork.cbslocal.com/station/wcbs-880/" target="_blank">WCBS-AM</a> (New York) as first Radio customer</td>
</tr>
<tr>
<td class="year">1992</td>
<td><a href="http://www.wpxi.com/" target="_blank">WPXI</a> (Pittsburgh)—Cox Media Group—becomes first Broadcast customer</td>
</tr>
<tr>
<td class="year">1992</td>
<td>Matrix Solutions launches; debuts initial media sales product</td>
</tr>
</tbody>
</table>]]></pageCopy>
    <calloutHeadline />
    <calloutCopy><![CDATA[]]></calloutCopy>
  </HistoricTimeline>
  <Solutions id="1149" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2013-10-16T13:52:05" updateDate="2013-10-16T15:05:37" nodeName="Data Cleansing" urlName="data-cleansing" path="-1,1149" isDoc="" nodeType="1143" creatorName="admin" writerName="admin" writerID="0" template="1073" nodeTypeAlias="Solutions">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1123</interiorBillboard>
    <pageHeadline>Data Cleansing &amp; Normalization</pageHeadline>
    <leadInCopy><![CDATA[<p>Make intelligent business decisions with our media-specific solutions that integrate data from any enterprise source. Matrix cleans and organizes the data so that you have accurate trusted views of the complex relationships between your customer information and their sales activity.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>Benefits:</h3>
<ul>
<li>Connect to all sources of data</li>
<li>Minimize redundancies and dependencies</li>
<li>Enable accurate modeling and forecasting</li>
<li>Make better decisions, faster</li>
</ul>
<p>Data comes in all shapes, sizes, and usefulness. Eliminate hours of ad hoc reporting and spend more time doing what you do best. Matrix offers a superior way to manage the wide array of data you need to make the correct decisions in real time.</p>]]></pageCopy>
    <pageSubHeadline>Turn Chaos into Sales</pageSubHeadline>
  </Solutions>
  <BoardOfDirectors id="1164" parentID="-1" level="1" creatorID="0" sortOrder="7" createDate="2013-10-16T16:14:09" updateDate="2013-10-16T17:18:37" nodeName="Board Directors" urlName="board-directors" path="-1,1164" isDoc="" nodeType="1152" creatorName="admin" writerName="admin" writerID="0" template="1163" nodeTypeAlias="BoardOfDirectors">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1116</interiorBillboard>
    <pageHeadline>Matrix Board of Directors</pageHeadline>
    <leadInCopy><![CDATA[<p>Our Board of Directors provide corporate governance and oversight and focuses on growth plans for the company.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<div id="content_left" class="columns nine alpha omega">
<p><strong><a href="http://matrixformedia.com/executive-team.aspx">DJ Cavanaugh</a></strong>, CEO of Matrix Solutions, has extensive experience with national media companies and is a recognized industry leader in the area of strategic sales management, advertising sales growth and media CRM.</p>
<p><strong>Chris Randazzo</strong>, Founder of Main Line Equity Partners, brings a distinguished 20-year track record of providing strategic sales and marketing planning, investment analysis, and operational execution.</p>
<p><strong>Mark Gorman</strong>, Managing Director at Main Line Equity Partners, leverages more than 15 years of experience in the private equity and alternative asset industries, and brings significant transactional, analytical, and financial practices.</p>
</div>]]></pageCopy>
    <calloutHeadline>Our Mission:</calloutHeadline>
    <calloutCopy><![CDATA[<ul>
<li>- Expand the Matrix sales ecosystem</li>
<li>- Advance our platform capabilities</li>
<li>- Improve the user experience</li>
<li>- Help customers increase sales</li>
</ul>]]></calloutCopy>
  </BoardOfDirectors>
  <WorkingAtMatrix id="1167" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2013-10-16T16:26:50" updateDate="2013-10-16T17:18:37" nodeName="Working At Matrix" urlName="working-at-matrix" path="-1,1167" isDoc="" nodeType="1165" creatorName="admin" writerName="admin" writerID="0" template="1166" nodeTypeAlias="WorkingAtMatrix">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1127</interiorBillboard>
    <pageHeadline>Dream Big. Think Bigger.</pageHeadline>
    <pageSubHeadline>Working at Matrix</pageSubHeadline>
    <leadInCopy><![CDATA[<p>We're looking for people who are ready to make a difference, think innovatively, and grow with us.</p>]]></leadInCopy>
    <leftColumnCopy><![CDATA[<h3>Innovate Today. Grow Tomorrow.</h3>
<p>As a leading Media CRM and Sales Analytics provider, we are using innovative technology to develop unprecedented product solutions for the future. <a href="mailto:hr@matrixformedia.com?subject=Matrix%20Solutions%20-%20Careers%20Inquiry">Join our growing team</a> as we move full speed ahead to advance the way media does business.</p>
<h3>Work. Life. Balance.</h3>
<p>In joining the Matrix Solutions' team, you'll become part of a culture that nurtures talent, embraces diversity, provides growth opportunities, and rewards outstanding performance. A big part of being productive and successful is being happy—that is why we strive to ensure that all of our team members achieve a satisfactory work-life balance.</p>]]></leftColumnCopy>
    <rightColumnCopy><![CDATA[<h3>Don't Ask Why, Ask Why Not?</h3>
<p>So are you ready to be challenged while exercising your fullest career potential? We offer a fast-paced, fun work environment with comprehensive medical insurance, a matching 401k program, and flexible vacation options.</p>
<h3>Pittsburgh 411</h3>
<p>Pittsburgh has reinvented itself as a world-recognized center for software, robotics, health care, and financial services. It offers excellent educational opportunities for families from K-12 through college, having seven universities within the city limits. Pittsburgh ranks in the top 10 of best places to start as a young professional and to grow personal wealth.</p>]]></rightColumnCopy>
  </WorkingAtMatrix>
  <Solutions id="1150" parentID="-1" level="1" creatorID="0" sortOrder="8" createDate="2013-10-16T13:54:03" updateDate="2013-10-16T15:05:37" nodeName="Analytics &amp; Reporting" urlName="analytics-reporting" path="-1,1150" isDoc="" nodeType="1143" creatorName="admin" writerName="admin" writerID="0" template="1073" nodeTypeAlias="Solutions">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <interiorBillboard>1121</interiorBillboard>
    <pageHeadline>Analytics &amp; Reporting</pageHeadline>
    <leadInCopy><![CDATA[<p>Our analysis of your existing sales data helps bring you the actionable information you need. Combine this with our automated configurable reporting to help manage forecasting and accounts and master your media sales in real time.</p>]]></leadInCopy>
    <pageCopy><![CDATA[<h3>Features:</h3>
<ul>
<li>Seamless integration with traffic and billing systems</li>
<li>Let decision makers view real-time data</li>
<li>Leverage historical information</li>
<li>Reduce ad hoc report requests</li>
</ul>
<p>You need consistent, actionable, and repeatable reports from all areas of your operation. By highlighting useful information, suggesting conclusions, and supporting effective decision-making, Matrix offers the simplest, most reliable reporting functionality in the media industry.</p>]]></pageCopy>
    <pageSubHeadline>Patterns that Transform Data</pageSubHeadline>
  </Solutions>
</root>