<!DOCTYPE root[<!ELEMENT Advantages ANY>
<!ATTLIST Advantages id ID #REQUIRED>
 
<!ELEMENT BasePage ANY>
<!ATTLIST BasePage id ID #REQUIRED>
<!ELEMENT Content ANY>
<!ATTLIST Content id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>

]>
<root id="-1">
  <Homepage id="1069" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-10-15T11:16:41" updateDate="2013-10-15T11:18:14" nodeName="Homepage" urlName="homepage" path="-1,1069" isDoc="" nodeType="1048" creatorName="admin" writerName="admin" writerID="0" template="1068" nodeTypeAlias="Homepage">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag>Matrix Solutions Home</titleTag>
    <birdseyeViewIcon />
    <birdseyeViewText><![CDATA[]]></birdseyeViewText>
    <birdseyeViewLink />
  </Homepage>
  <Content id="1070" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-10-15T11:18:50" updateDate="2013-10-15T11:19:11" nodeName="About" urlName="about" path="-1,1070" isDoc="" nodeType="1052" creatorName="admin" writerName="admin" writerID="0" template="1067" nodeTypeAlias="Content">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag />
    <pageTitle>About Us</pageTitle>
    <pageCopy><![CDATA[<p>About Us.</p>]]></pageCopy>
  </Content>
  <Advantages id="1091" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-10-15T15:29:05" updateDate="2013-10-15T16:17:31" nodeName="Account Executives" urlName="account-executives" path="-1,1091" isDoc="" nodeType="1072" creatorName="admin" writerName="admin" writerID="0" template="1071" nodeTypeAlias="Advantages">
    <domainName />
    <umbracoNavHide>0</umbracoNavHide>
    <metaKeywords />
    <metaDescription />
    <titleTag>Account Executives</titleTag>
    <interiorBillboard />
    <pageHeadline>Matrix for Account Executives</pageHeadline>
    <leadInCopy><![CDATA[<pre style="font-family: Consolas; font-size: 10pt; color: black; background: white;">Better manage your sales opportunities, by using the actionable sales information from a media-specific CRM platform. Our reporting capabilities provide you the deep and accurate information needed to achieve your sales objectives.
</pre>]]></leadInCopy>
  </Advantages>
</root>